.arrow{
	.st3{fill:none;stroke:#FFFFFF;stroke-width:4;}
	.st5{fill:none;stroke:#BFD0D7;stroke-width:4;}
}

.certificate{
	.st0{fill:none;stroke:#95B1BD;stroke-width:3.719;opacity: 0}
	.st1{fill:none;stroke:#BFD0D7;stroke-width:3.719;}
	.st2{fill:none;stroke:#40AE49;stroke-width:2.604;}
	.st3{fill:#40AE49;}
	.st4{fill:#BFD0D7;}
}

.compass{
	.arrow{
		width: inherit;
	}
	.st0{fill:#40AE49;}
	.st1{fill:#BFD0D7;}
	.st2{fill:#FFFFFF;}
	.st3{fill:none;stroke:#95B1BD;stroke-width:3.012;}
	.st4{fill:none;stroke:#BFD0D7;stroke-width:1.15;}
	.st5{fill:none;stroke:#95B1BD;stroke-width:3.22;}
}

.read{
	.st0{fill:none;}
	.st1{fill:none;stroke:#40AE49;stroke-width:1.556;}
	.st2{fill:#FFFFFF;}
	.st3{fill:none;stroke:#BFD0D7;stroke-width:1.556;}
	.st4{fill:none;stroke:#95B1BD;stroke-width:3.072;}
	.st5{fill:#40AE49;}
	.book{opacity: 0};
	.mark{opacity: 0}
}

.chart{
	.magnify{opacity: 0;transform: translateX(100%);transition: all 1s;}
	.st0{fill:none;stroke:#BFD0D7;stroke-width:3.926;}
	.st1{fill:#BFD0D7;}
	.st2{fill:none;stroke:#BFD0D7;stroke-width:3.822;}
	.st3{fill:#40AE49;}
	.st4{fill:#FFFFFF;}
	.st5{fill:none;stroke:#95B1BD;stroke-width:3.13;}
	.st6{fill:#95B1BD;}
	.st7{fill:none;stroke:#95B1BD;stroke-width:4.632;}
	.st8{fill:none;stroke:#40AE49;stroke-width:3.926;opacity: 0;}
}

.awards{
	.st0{fill:#BFD0D7;}
	.st1{fill:#FFFFFF;}
	.st2{fill:none;stroke:#95B1BD;stroke-width:2;stroke-miterlimit:10;}
	.st3{fill:#94B0BC;}
	.st4{fill:none;stroke:#94B0BC;stroke-width:2;}
	.st5{fill:#95B1BD;}
	.st6{fill:none;stroke:#95B1BD;stroke-width:3;}
}

